app_storeFile=../buildsystem/release.keystore
app_storePassword=[INPUT PASSWORD]
app_keyAlias=miyagi389.android.apps.tr
app_keyPassword=[INPUT PASSWORD]

# https://code.google.com/p/android/issues/detail?id=230211
android.useOldPackaging=true
